@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}

.form-btn-active {
  @apply cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none;
}

.form-btn-disabled {
  @apply bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none;
}

.form-validation-error {
  @apply text-red-500 text-xs italic;
}